[package]
name = "bitcup-cli"
version = "0.1.0"
edition = "2024"
license.workspace = true

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
bitcup-core = { workspace = true }
bitcup-store = { workspace = true }
